@charset "UTF-8";
/* отчистим все отступы и границы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* меняет подсчет блока так чтобы нам было удобно верстать  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров. */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* перечисляем html5 и добавляем им значение блок, что делает их блочными  */
nav,
footer,
header,
aside {
  display: block;
}

/* Уравниваем поведение шрифтов в разных браузеров123  */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

/*
Задаёт стиль кнопки для очистки текстового поля. Исходно эта кнопка не видна,
она появляется в правой части поля только при вводе текста.
Только IE */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Задаёт стиль внутренней части элемента
Только FireFox*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ............................................................ */
body {
  background-color: #e8e8e8;
}

.cont {
  padding: 125px 0px 137px 0px;
  max-width: 841px;
  margin: 0px auto;
  background: url("/img/8.png") 50% 10px no-repeat;
}

.text1 {
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 2.8px;
  color: rgba(39, 61, 70, 0.6);
}

.text2 {
  font-size: 36px;
  line-height: 1.39;
  color: #273d46;
}

.header {
  padding: 00px 0px 77px 0px;
  text-align: center;
}

.img_f {
  border: 7px solid white;
  max-width: 100%;
  margin: 0px 0px 30px 0px;
}

.text3 {
  opacity: 0.8;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgba(39, 61, 70, 0.8);
  padding: 10px 30px 30px 30px;
}

.text4 {
  opacity: 0.8;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgba(39, 61, 70, 0.8);
  padding: 40px 30px 30px 30px;
}

.list li {
  background: url(/img/icon.png) 0px 10px no-repeat;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 35px;
}

.list li:nth-child(1) {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  color: #273d46;
}

.list li:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: #80b7b3;
}

.list li:nth-child(3) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  color: #273d46;
  font-weight: 700;
}

.list li:nth-child(4) {
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  color: rgba(39, 61, 70, 0.3);
  text-decoration: line-through;
}

.bottom7 {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: #80b7b3;
  padding: 0 30px;
  border-radius: 20px;
}

.bottom7 span {
  font-size: 14px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 0px 50px 0px 0px;
  background: url("/img/3.png") right no-repeat;
}
